{% extends 'client/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Восстановление пароля</p>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{ form|crispy }}<br>
            <button class="p-2 btn btn-outline-primary" type="submit">Отправить</button>
        </div>
    </form>
</div>


{% endblock %}