{% extends 'client/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{object.subject}}</h4>
        </div>
        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a href="{% url 'message:message_detail' object.pk %}" type="button"
                   class="w-100 btn btn-outline-success">Открыть</a>
                {% if perms.message.change_message or user == object.owner %}
                <a href="{% url 'message:message_update' object.pk %}" type="button"
                   class="w-100 btn btn-outline-warning">Редактировать</a>
                {% endif %}
                {% if perms.message.delete_message or user == object.owner%}
                <a href="{% url 'message:message_delete' object.pk %}" type="button"
                   class="w-100 btn btn-outline-danger">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}