{% extends 'client/base.html' %}
{% block content %}
<div class="col-6">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{object.subject}}</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th scope="row"> Текс сообщения: </th>
                    <td> {{ object.text }} </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}